<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->
<div class="sidebar">
  <img src="/assets/images/tu-imagen.jpg" alt="Foto" class="foto-lateral" />
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
</div>


<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
<link rel="stylesheet" href="/assets/css/style.css">

<!-- end custom head snippets -->
